@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: wheat;
}

h3{
    text-align: center;
    margin-top: 1.8em;
}

.container{
    background-color: white;
    font-size: 16px;
    padding: 3em 2.8em;
    width: 90vw;
    max-width: 32em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 1rem;
    border-radius: 0.6rem;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.search{
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1rem;  
    
}

.search input{
    padding: .6em;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 2px solid wheat;
    transition: all 0.2s ease-in-out;
}

.search button{
    font-size: 1rem;
    background-color: wheat;
    border: none;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    font-size: 600;
}

.search button:hover{
    background-color: black;
    color: white;
}

.recipe{
    position: absolute;
    background-color: white;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 8px;
    display: none;
}

#hide-menu{
    font-size: 1rem;
    border: none;
    position: relative;
    width: 1.8em;
    height: 1.8em;
    background: wheat;
    border-radius: 50%;
    top: 1rem;
    left: 90%;

}

img{
    display: block;
    width: 50%;
    margin: 1.5rem auto 0 auto;

}

.recipe pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2rem 1.2rem 1.2rem 1.2rem;

}

.details{
    background-color: wheat;
    position: relative;
    margin: -4.3rem 0 0 0;
    text-align: center;
    padding: 0.6rem 0;
}

.details h2{
    font-size: 1.2em;
}

.details h4{
    font-size: 1.2em;
    font-weight: 400;
}

#show-menu{
    font-size: 1rem;
    position: relative;
    left: 75%;
    padding: 0.9rem 0.6rem;
    background-color: wheat;
    border: none;
    border-radius: 8px;
    top: 1.5rem;
}

ul{
    font-size: 1em;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.6em 1.1em;
    padding: 1.2em 0 0 1.2em;
}

@media screen and (max-width: 500px){
    .container{
        font-size: 14px;

    }
}